<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetterDays</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/map.css">
</head>

<body>
    <header>
        <div class="logo">
            <h4>BetterDays</h4>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../index.html">Services</a></li>
                <li><a href="../index.html">Resources</a></li>
                <li><a href="../index.html">Contact</a></li>
            </ul>
        </div>
        <!-- Mobile menu icon -->
        <div class="menu-icon" onclick="toggleMenu()">
            <span>&#9776;</span>
        </div>
    </header>

    <aside id="mobile-sidebar">
        <button class="close-btn" onclick="closeMenu()">×</button>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../index.html">Services</a></li>
            <li><a href="../index.html">Resources</a></li>
            <li><a href="../index.html">Contact</a></li>
        </ul>
    </aside>
    <hr>
    <hr>
    <section id="motivation-therapist">
        <p class="motivation">Taking the first step towards better mental health is incredibly important, and finding
            the right support is key .

            Your mental health matters, and finding the right therapist can make all the difference.</p>
    </section>
    <hr>
    <section id="therapist-section">
        <h2>Find a Therapist</h2>
        <p>Use the tool below to search for qualified therapists near you.</p>
        <div class="search">
            <input type="text" name="place" id="place" placeholder="Enter Your Location">
            <button onclick="searchTherapists()">Search</button>
        </div>

        <div id="map"></div>
    </section>


    <footer>
        <p>BetterDays is committed to supporting mental health through accessible tools and resources. We provide
            self-assessments, valuable resources, and guidance to help you take charge of your mental well-being.</p>
        <div class="line"></div>
        <p>&copy 2025 BetterDays . Made by <a href="https://portfolio-bichitra.vercel.app/" target="_blank">Bichitra
                Behera</a></p>
    </footer>


    <script src="../js/script.js"></script>
    <script src="../js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt2ACihZMzs1i-YVjlqcSwpraecbxAGvE&libraries=places&callback=initMap"
        async defer>
        </script>


</body>

</html>